<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    var oldData = '';
    function new_title() {
        $.ajax({url: "http://localhost:5000/title"}).then(function(data) {
            if (data != oldData) {
                oldData = data;
                $("#title").fadeOut(function() {
                  $(this).text(data)
                }).fadeIn();
            }

            })
    }
    setInterval(new_title, 500);
});
</script>
</head>
<body>
    <br />
    <br />
    <h2><center>
    <div id='title'>
    </div>
        </center>
    </h2>

</body>
</html>
